<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-quiniela-heading" data-cy="QuinielaCreateUpdateHeading" jhiTranslate="appostadoApp.quiniela.home.createOrEditLabel">
        Create or edit a Quiniela
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appostadoApp.quiniela.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombre')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appostadoApp.quiniela.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 100 }"
            >
              This field cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appostadoApp.quiniela.costoParticipacion" for="field_costoParticipacion"
            >Costo Participacion</label
          >
          <input
            type="number"
            class="form-control"
            name="costoParticipacion"
            id="field_costoParticipacion"
            data-cy="costoParticipacion"
            formControlName="costoParticipacion"
          />
          <div
            *ngIf="
              editForm.get('costoParticipacion')!.invalid &&
              (editForm.get('costoParticipacion')!.dirty || editForm.get('costoParticipacion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('costoParticipacion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('costoParticipacion')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appostadoApp.quiniela.primerPremio" for="field_primerPremio">Primer Premio</label>
          <input
            type="number"
            class="form-control"
            name="primerPremio"
            id="field_primerPremio"
            data-cy="primerPremio"
            formControlName="primerPremio"
          />
          <div
            *ngIf="editForm.get('primerPremio')!.invalid && (editForm.get('primerPremio')!.dirty || editForm.get('primerPremio')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('primerPremio')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('primerPremio')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appostadoApp.quiniela.segundoPremio" for="field_segundoPremio">Segundo Premio</label>
          <input
            type="number"
            class="form-control"
            name="segundoPremio"
            id="field_segundoPremio"
            data-cy="segundoPremio"
            formControlName="segundoPremio"
          />
          <div
            *ngIf="
              editForm.get('segundoPremio')!.invalid && (editForm.get('segundoPremio')!.dirty || editForm.get('segundoPremio')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('segundoPremio')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('segundoPremio')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appostadoApp.quiniela.tercerPremio" for="field_tercerPremio">Tercer Premio</label>
          <input
            type="number"
            class="form-control"
            name="tercerPremio"
            id="field_tercerPremio"
            data-cy="tercerPremio"
            formControlName="tercerPremio"
          />
          <div
            *ngIf="editForm.get('tercerPremio')!.invalid && (editForm.get('tercerPremio')!.dirty || editForm.get('tercerPremio')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('tercerPremio')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('tercerPremio')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appostadoApp.quiniela.estado" for="field_estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
          <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('estado')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('estado')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
            >
              This field cannot be longer than 20 characters.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
