<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="liga">
      <h2 data-cy="ligaDetailsHeading"><span jhiTranslate="appostadoApp.liga.detail.title">Liga</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ liga.id }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.liga.nombre">Nombre</span></dt>
        <dd>
          <span>{{ liga.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.liga.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ liga.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.liga.foto">Foto</span></dt>
        <dd>
          <span>{{ liga.foto }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/liga', liga.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
