<!-- ====== Header Start ====== -->
<header class="ud-header">
  <div class="container-fluid p-3">
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="index.html">
            <img src="assets/images/logo/logo.svg" alt="Logo" />
          </a>
          <button class="navbar-toggler">
            <span class="toggler-icon"> </span>
            <span class="toggler-icon"> </span>
            <span class="toggler-icon"> </span>
          </button>

          <div class="navbar-collapse">
            <!-- <ul id="nav" class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="ud-menu-scroll" href="#home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="ud-menu-scroll" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="ud-menu-scroll" href="#pricing">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="ud-menu-scroll" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="ud-menu-scroll" href="#contact">Contact</a>
                </li>
                <li class="nav-item nav-item-has-children">
                    <a href="javascript:void(0)"> Pages </a>
                    <ul class="ud-submenu">
                        <li class="ud-submenu-item">
                            <a href="about.html" class="ud-submenu-link">
          About Page
        </a>
                        </li>
                        <li class="ud-submenu-item">
                            <a href="pricing.html" class="ud-submenu-link">
          Pricing Page
        </a>
                        </li>
                        <li class="ud-submenu-item">
                            <a href="contact.html" class="ud-submenu-link">
          Contact Page
        </a>
                        </li>
                        <li class="ud-submenu-item">
                            <a href="blog.html" class="ud-submenu-link">
          Blog Grid Page
        </a>
                        </li>
                        <li class="ud-submenu-item">
                            <a href="blog-details.html" class="ud-submenu-link">
          Blog Details Page
        </a>
                        </li>
                        <li class="ud-submenu-item">
                            <a href="login.html" class="ud-submenu-link">
          Sign In Page
        </a>
                        </li>
                        <li class="ud-submenu-item">
                            <a href="404.html" class="ud-submenu-link">404 Page</a>
                        </li>
                    </ul>
                </li>
            </ul> -->
          </div>

          <div class="navbar-btn d-none d-sm-inline-block">
            <a routerLink="/account/register" routerLinkActive="active" class="ud-main-btn ud-login-btn"> Sign In </a>
            <a class="ud-main-btn ud-white-btn" routerLink="/login" routerLinkActive="active"> Sign Up </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ====== Header End ====== -->

<!-- ====== Hero Start ====== -->
<section class="ud-hero" id="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-hero-content pb-5" data-wow-delay=".2s">
          <h1 class="ud-hero-title">Appostado</h1>
          <p class="ud-hero-desc">
            Multidisciplinary Web Template Built with Your Favourite Technology - HTML Bootstrap, Tailwind and React NextJS.
          </p>
          <!--<ul class="ud-hero-buttons">
            <li>
              <a href="https://links.uideck.com/play-bootstrap-download" rel="nofollow noopener" target="_blank" class="ud-main-btn ud-white-btn">
                Download Now
              </a>
            </li>
            <li>
              <a href="https://github.com/uideck/play-bootstrap" rel="nofollow noopener" target="_blank" class="ud-main-btn ud-link-btn">
                Learn More <i class="lni lni-arrow-right"></i>
              </a>
            </li>
          </ul>-->
        </div>
        <!-- <div class="ud-hero-brands-wrapper wow fadeInUp" data-wow-delay=".3s">
           <img src="content/images/bannerGol" alt="brand" />
         </div>
          <div class="ud-hero-image wow fadeInUp" data-wow-delay=".25s">
            <img src="assets/images/hero/hero-image.svg" alt="hero-image" />
            <img src="assets/images/hero/dotted-shape.svg" alt="shape" class="shape shape-1" />
            <img src="assets/images/hero/dotted-shape.svg" alt="shape" class="shape shape-2" />
          </div>-->
      </div>
    </div>
  </div>
</section>
<!-- ====== Hero End ====== -->

<!-- ====== Features Start ====== -->
<section id="features" class="ud-features">
  <div class="container ps-5">
    <div class="row ps-5">
      <div class="col-lg-12">
        <div class="ud-section-title">
          <span>Features</span>
          <h2>Main Features of Play</h2>
          <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form.</p>
        </div>
      </div>
    </div>
    <div class="row ps-5">
      <div class="col-xl-3 col-lg-3 col-sm-6 px-2">
        <div class="ud-single-feature animate__animated animate__fadeInUpBig" data-wow-delay=".1s">
          <div class="ud-feature-icon">
            <i class="fa-solid fa-coins"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Apuestas</h3>
            <p class="ud-feature-desc">Con Appostado podrás apostar utilizando nuestros créditos digitales.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 px-2">
        <div class="ud-single-feature animate__animated animate__fadeInUpBig" data-wow-delay=".15s">
          <div class="ud-feature-icon">
            <i class="fa-solid fa-users"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Ligas</h3>
            <p class="ud-feature-desc">Invita a tus amigos y crea ligas para apostar.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 px-2">
        <div class="ud-single-feature animate__animated animate__fadeInUpBig" data-wow-delay=".2s">
          <div class="ud-feature-icon">
            <i class="fa-solid fa-gift"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Canjes</h3>
            <p class="ud-feature-desc">Podrás canjear tus créditos por premios en la plataforma.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 px-2">
        <div class="ud-single-feature animate__animated animate__fadeInUpBig" data-wow-delay=".25s">
          <div class="ud-feature-icon">
            <i class="fa-solid fa-percent"></i>
          </div>
          <div class="ud-feature-content">
            <h3 class="ud-feature-title">Descuentos</h3>
            <p class="ud-feature-desc">En la plataforma encontrás productos de nuestros patrocinadores con descuentos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====== FAQ Start ====== -->
<section id="faq" class="ud-faq">
  <div class="shape">
    <img src="content/images/shape.svg" alt="shape" />
  </div>
  <div class="container-fluid" data-aos="fade-up" data-aos-duration="2000">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-section-title text-center mx-auto">
          <span>FAQ</span>
          <h2>Preguntas frecuentes</h2>
          <p></p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 col-12 px-5">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="ud-single-faq">
            <button
              class="ud-faq-btn collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>Can I use this template for commercial project?</span>
            </button>

            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="ud-faq-body">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.".
              </div>
            </div>
          </div>
          <div class="ud-single-faq">
            <button
              class="ud-faq-btn collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>Can I use this template for commercial project?</span>
            </button>

            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="ud-faq-body">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.".
              </div>
            </div>
          </div>
          <div class="ud-single-faq">
            <button
              class="ud-faq-btn collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              <span class="icon flex-shrink-0">
                <i class="lni lni-chevron-down"></i>
              </span>
              <span>Can I use this template for commercial project?</span>
            </button>

            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="ud-faq-body">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.".
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== FAQ End ====== -->

<!-- ====== Contact Start ====== -->
<section id="contact" class="ud-contact">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-12 col-lg-12 p-5" data-aos="fade-up" data-aos-duration="2000">
        <div class="ud-contact-content-wrapper">
          <div class="ud-contact-title">
            <span>CONTACT US</span>
            <h2>
              Hablemos! <br />
              Nos importa mucho tu opinión
            </h2>
          </div>
          <div class="ud-contact-info-wrapper">
            <div class="ud-single-info">
              <div class="ud-info-icon">
                <i class="lni lni-map-marker txt-celeste"></i>
              </div>
              <div class="ud-info-meta">
                <h5>Donde nos puestes encontrar</h5>
                <p>San José, Costa Rica</p>
              </div>
            </div>
            <div class="ud-single-info">
              <div class="ud-info-icon">
                <i class="lni lni-envelope txt-celeste"></i>
              </div>
              <div class="ud-info-meta">
                <h5>¿En qué te podemos ayudar?</h5>
                <p>appostado@gmail.com</p>
                <p>Tel: 8888-8888</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
