<div>
  <h2 id="page-heading" data-cy="TransaccionHeading">
    <span jhiTranslate="appostadoApp.transaccion.home.title">Transaccions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appostadoApp.transaccion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transaccion"
        [routerLink]="['/transaccion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appostadoApp.transaccion.home.createLabel"> Create a new Transaccion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transaccions?.length === 0">
    <span jhiTranslate="appostadoApp.transaccion.home.notFound">No transaccions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="transaccions && transaccions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.transaccion.fecha">Fecha</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.transaccion.tipo">Tipo</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.transaccion.descripcion">Descripcion</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.transaccion.monto">Monto</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.transaccion.cuenta">Cuenta</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaccion of transaccions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transaccion', transaccion.id, 'view']">{{ transaccion.id }}</a>
          </td>
          <td>{{ transaccion.fecha | formatMediumDate }}</td>
          <td>{{ transaccion.tipo }}</td>
          <td>{{ transaccion.descripcion }}</td>
          <td>{{ transaccion.monto }}</td>
          <td>
            <div *ngIf="transaccion.cuenta">
              <a [routerLink]="['/cuenta-usuario', transaccion.cuenta?.id, 'view']">{{ transaccion.cuenta?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transaccion', transaccion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transaccion', transaccion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(transaccion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
