<div class="w-100 main-card">
  <div class="ms-3 me-3 pt-3">
    <div class="d-flex">
      <div class="flex-fill">
        <h5 class="mb-0">Elige la opción ganadora</h5>
      </div>
      <div class="flex-fill text-end">
        Ganancia estimada en créditos:
        <span class="fw-bold">XXXXX</span>
      </div>
    </div>
    <hr />
    <form autocomplete="off" [formGroup]="betForm">
      <div class="d-flex mt-4" *ngIf="event">
        <div class="flex-fill bet-card me-3 ps-2">
          <div class="field-checkbox">
            <div class="row">
              <div class="col">
                <label>{{ this.event?.competidor1?.nombre }}</label>
              </div>
              <div class="col text-end">
                <span>XX.X</span>
                <p-checkbox [binary]="true" formControlName="competidor1"></p-checkbox>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-fill bet-card me-3 ps-2">
          <div class="row">
            <div class="col">
              <label>Empate</label>
            </div>
            <div class="col text-end">
              <span>XX.X</span>
              <p-checkbox [binary]="true" formControlName="empate"></p-checkbox>
            </div>
          </div>
        </div>
        <div class="flex-fill bet-card ps-2">
          <div class="row">
            <div class="col">
              <label>{{ this.event?.competidor2?.nombre }}</label>
            </div>
            <div class="col text-end">
              <span>XX.X</span>
              <p-checkbox [binary]="true" formControlName="competidor2"></p-checkbox>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-flex mt-4 w-100">
      <form autocomplete="off" class="w-100" [formGroup]="betForm">
        <label class="form-label">Créditos a apostar: {{ this.betForm.controls['creditosApostados'].value }}</label>
        <p-slider formControlName="creditosApostados" [min]="0" [max]="this.availableBalance!"></p-slider>
      </form>
    </div>
    <div class="d-flex mt-4">
      <div class="flex-fill me-3">
        <div class="input-group">
          <span class="input-group-text">
            <i class="fa-solid fa-coins"></i>
          </span>
          <input type="text" id="balanceInput" class="form-control" disabled />
        </div>
      </div>
      <div class="flex-fill">
        <button class="btn btn-bet w-100 h-100" (click)="submitForm()">
          <i class="fa-solid fa-money-bill-trend-up me-3"></i>
          <span class="fw-bold">Apostar</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="mt-3" *ngIf="betError">
  <div class="alert alert-danger" role="alert">
    {{ this.betError }}
  </div>
</div>
