<div id="auth">
  <div class="row h-100">
    <div class="col-lg-3 d-none d-lg-block">
      <div id="auth-left"></div>
    </div>
    <div class="col-lg-6 col-12">
      <div id="auth-right">
        <div class="auth-logo">
          <!--<a href="index.html"><img src="assets/images/logo.png" alt="Logo"> Appostado</a>-->
        </div>
        <h1 class="auth-title" jhiTranslate="reset.finish.title">Reset password</h1>
        <div class="alert alert-warning px-3 py-2 mb-3" *ngIf="key && !success">
          <span jhiTranslate="reset.finish.messages.info">Choose a new password</span>
        </div>
        <div class="alert alert-danger px-3 py-2" *ngIf="error">
          <span jhiTranslate="reset.finish.messages.error"
            >Your password couldn't be reset. Remember a password request is only valid for 24 hours.</span
          >
        </div>
        <div class="alert alert-success px-3 py-2" *ngIf="success">
          <span jhiTranslate="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please </span>
          <a class="alert-link" routerLink="/login" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
        </div>

        <div class="alert alert-danger px-3 py-2" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
          The password and its confirmation do not match!
        </div>

        <div class="alert alert-success py-3 text-center" *ngIf="success">
          <span jhiTranslate="reset.request.messages.success" class="fs-6"
            >Check your emails for details on how to reset your password.</span
          >
        </div>
        <div *ngIf="key && !success">
          <form name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
            <label class="form-label" for="newPassword" jhiTranslate="global.form.newpassword.label">New password</label>
            <div class="form-group position-relative mb-4">
              <div class="input-group">
                <span class="input-group-text input-group-text-login"> <i class="fa-solid fa-lock"></i></span>
                <input
                  type="password"
                  class="form-control form-control-xl form-input-register"
                  id="newPassword"
                  name="newPassword"
                  placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                  formControlName="newPassword"
                  data-cy="resetPassword"
                  #newPassword
                />
              </div>
            </div>
            <div
              class="mb-3"
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.required"
                jhiTranslate="global.messages.validate.newpassword.required"
              >
                Your password is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                jhiTranslate="global.messages.validate.newpassword.minlength"
              >
                Your password is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.newpassword.maxlength"
              >
                Your password cannot be longer than 50 characters.
              </small>
            </div>

            <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>

            <label class="form-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label"
              >New password confirmation</label
            >
            <div class="form-group position-relative mb-4">
              <div class="input-group">
                <span class="input-group-text input-group-text-login"> <i class="fa-solid fa-lock"></i></span>
                <input
                  type="password"
                  class="form-control form-control-xl form-input-register"
                  id="confirmPassword"
                  name="confirmPassword"
                  placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                  formControlName="confirmPassword"
                  data-cy="confirmResetPassword"
                />
              </div>
            </div>

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                jhiTranslate="global.messages.validate.confirmpassword.required"
              >
                Your password confirmation is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                jhiTranslate="global.messages.validate.confirmpassword.minlength"
              >
                Your password confirmation is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.confirmpassword.maxlength"
              >
                Your password confirmation cannot be longer than 50 characters.
              </small>
            </div>

            <button
              type="submit"
              [disabled]="passwordForm.invalid"
              class="btn bg-azul-oscuro text-white ms-0 py-2"
              jhiTranslate="reset.finish.form.button"
              data-cy="submit"
            >
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-3 d-none d-lg-block">
      <div id="auth-right2"></div>
    </div>
  </div>
</div>
