<div class="row">
  <div class="col-12 mb-4">
    <div class="hero bg-primary text-white">
      <div class="hero-inner">
        <h2>Misión .......</h2>
        <p class="lead">Pregunta pregunta pregunta pregunta pregunta pregunta</p>
        <form>
          <div class="form-check mt-3">
            <input class="form-check-input mt-1 ms-0" type="radio" value="1" name="radio" />
            <label class="form-check-label ms-2"> Default checkbox </label>
          </div>
          <div class="mt-4">
            <a href="#" class="btn btn-outline-white btn-lg btn-icon icon-left"><i class="far fa-user"></i> Setup Account</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
