<h1>RANKING</h1>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-bordered table-striped">
  <thead>
    <tr>
      <th>Posición</th>
      <th>Record neto créditos</th>
      <th>Nombre</th>
      <th>Nacionalidad</th>
      <th>Total de apuestas ganadas</th>
      <th>Total de apuestas perdidas</th>
      <th>Total de canjes</th>
      <th>Porcentaje de rendimiento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ranking of rankings">
      <td>{{ ranking.posicion }}</td>
      <td>{{ ranking.recordNeto }}</td>
      <td>{{ ranking.nombreJugador }}</td>
      <td>{{ ranking.nacionalidad }}</td>
      <td>{{ ranking.totalGanadas }}</td>
      <td>{{ ranking.totalPerdidas }}</td>
      <td>{{ ranking.totalCanjes }}</td>
      <td>{{ ranking.rendimiento }}</td>
    </tr>
  </tbody>
</table>
