<div id="auth2">
  <div class="row h-100">
    <div class="col-lg-3 d-none d-lg-block"></div>
    <div class="col-lg-6 col-12">
      <div id="auth-right">
        <div *ngIf="account$ | async as account">
          <h2 class="pt-5 mb-3" jhiTranslate="password.title" [translateValues]="{ username: account.login }">
            Password for [<strong>{{ account.login }}</strong
            >]
          </h2>
        </div>

        <div class="alert alert-success py-2 px-3" *ngIf="success" jhiTranslate="password.messages.success">
          <strong>Password changed!</strong>
        </div>

        <div class="alert alert-danger py-2 px-3" *ngIf="error" jhiTranslate="password.messages.error">
          <strong>An error has occurred!</strong> The password could not be changed.
        </div>

        <div class="alert alert-danger py-2 px-3" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
          The password and its confirmation do not match!
        </div>

        <form name="form " role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
          <label class="form-label" for="currentPassword" jhiTranslate="global.form.currentpassword.label">Current password</label>
          <div class="form-group position-relative mb-4">
            <div class="input-group">
              <span class="input-group-text input-group-text-login"> <i class="fa-solid fa-lock"></i></span>
              <input
                type="password"
                class="form-control form-control-xl form-input-register"
                id="currentPassword"
                name="currentPassword "
                placeholder="{{ 'global.form.currentpassword.placeholder' | translate }} "
                formControlName="currentPassword"
                data-cy="currentPassword"
              />
            </div>

            <div
              *ngIf="
                passwordForm.get('currentPassword')!.invalid &&
                (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('currentPassword')?.errors?.required"
                jhiTranslate="global.messages.validate.newpassword.required"
              >
                Your password is required.
              </small>
            </div>
          </div>
          <label class="form-label" for="newPassword" jhiTranslate="global.form.newpassword.label">New password</label>
          <div class="form-group position-relative mb-4">
            <div class="input-group">
              <span class="input-group-text input-group-text-login"> <i class="fa-solid fa-lock"></i></span>
              <input
                type="password"
                class="form-control form-control-xl form-input-register"
                id="newPassword"
                name="newPassword"
                placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                formControlName="newPassword"
                data-cy="newPassword"
              />
            </div>
            <div
              *ngIf="
                passwordForm.get('newPassword')!.invalid &&
                (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.required"
                jhiTranslate="global.messages.validate.newpassword.required"
              >
                Your password is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                jhiTranslate="global.messages.validate.newpassword.minlength"
              >
                Your password is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.newpassword.maxlength"
              >
                Your password cannot be longer than 50 characters.
              </small>
            </div>
          </div>

          <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>

          <label class="form-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</label>
          <div class="form-group position-relative mb-4">
            <div class="input-group">
              <span class="input-group-text input-group-text-login"> <i class="fa-solid fa-lock"></i></span>
              <input
                type="password"
                class="form-control form-control-xl form-input-register"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }} "
                formControlName="confirmPassword"
                data-cy="confirmPassword"
              />
            </div>

            <div
              *ngIf="
                passwordForm.get('confirmPassword')!.invalid &&
                (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                jhiTranslate="global.messages.validate.confirmpassword.required"
              >
                Your confirmation password is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                jhiTranslate="global.messages.validate.confirmpassword.minlength"
              >
                Your confirmation password is required to be at least 4 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                jhiTranslate="global.messages.validate.confirmpassword.maxlength"
              >
                Your confirmation password cannot be longer than 50 characters.
              </small>
            </div>
          </div>

          <button
            type="submit"
            [disabled]="passwordForm.invalid"
            class="btn bg-azul-oscuro text-white mx-0 btn-block btn-lg shadow-lg my-5"
            jhiTranslate="password.form.button"
            data-cy="submit"
          >
            Save
          </button>
        </form>
      </div>

      <div class="col-lg-3 d-none d-lg-block mt-0"></div>
    </div>
  </div>
</div>
