<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="evento">
      <h2 data-cy="eventoDetailsHeading"><span jhiTranslate="appostadoApp.evento.detail.title">Evento</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ evento.id }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.idDeporte">Id Deporte</span></dt>
        <dd>
          <span>{{ evento.idDeporte }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.idDivision">Id Division</span></dt>
        <dd>
          <span>{{ evento.idDivision }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.idCompetidor1">Id Competidor 1</span></dt>
        <dd>
          <span>{{ evento.idCompetidor1 }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.idCompetidor2">Id Competidor 2</span></dt>
        <dd>
          <span>{{ evento.idCompetidor2 }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.idQuiniela">Id Quiniela</span></dt>
        <dd>
          <span>{{ evento.idQuiniela }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.idGanador">Id Ganador</span></dt>
        <dd>
          <span>{{ evento.idGanador }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.marcador1">Marcador 1</span></dt>
        <dd>
          <span>{{ evento.marcador1 }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.marcador2">Marcador 2</span></dt>
        <dd>
          <span>{{ evento.marcador2 }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.estado">Estado</span></dt>
        <dd>
          <span>{{ evento.estado }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.multiplicador">Multiplicador</span></dt>
        <dd>
          <span>{{ evento.multiplicador }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.fecha">Fecha</span></dt>
        <dd>
          <span>{{ evento.fecha | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.horaInicio">Hora Inicio</span></dt>
        <dd>
          <span>{{ evento.horaInicio | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.horaFin">Hora Fin</span></dt>
        <dd>
          <span>{{ evento.horaFin | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.deporte">Deporte</span></dt>
        <dd>
          <div *ngIf="evento.deporte">
            <a [routerLink]="['/deporte', evento.deporte?.id, 'view']">{{ evento.deporte?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.division">Division</span></dt>
        <dd>
          <div *ngIf="evento.division">
            <a [routerLink]="['/division', evento.division?.id, 'view']">{{ evento.division?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.competidor1">Competidor 1</span></dt>
        <dd>
          <div *ngIf="evento.competidor1">
            <a [routerLink]="['/competidor', evento.competidor1?.id, 'view']">{{ evento.competidor1?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.competidor2">Competidor 2</span></dt>
        <dd>
          <div *ngIf="evento.competidor2">
            <a [routerLink]="['/competidor', evento.competidor2?.id, 'view']">{{ evento.competidor2?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appostadoApp.evento.quiniela">Quiniela</span></dt>
        <dd>
          <div *ngIf="evento.quiniela">
            <a [routerLink]="['/quiniela', evento.quiniela?.id, 'view']">{{ evento.quiniela?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/evento', evento.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
