<div class="">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Crear evento deportivo"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        [routerLink]="['/panel/evento/new']"
      ></button>

      <div style="margin-left: 20px" class="col">
        <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        </button>
      </div>
    </ng-template>
  </p-toolbar>
  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <p-table
    #dt
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [value]="eventos!"
    styleClass="p-datatable-gridlines"
    responsiveLayout="scroll"
    [globalFilterFields]="['deporte', 'estado', 'division', 'competidor1', 'competidor2', 'competidores']"
  >
    <ng-template pTemplate="caption">
      <div class="text-center">
        <span>EVENTOS DEPORTIVOS</span>
      </div>
      <div class="col">
        <span class="p-input-icon-right ml-auto">
          <i class="pi pi-search"></i>
          <input class="col" pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Estado</th>
        <th>Deporte</th>
        <th>División</th>
        <th>Competidores</th>
        <th class="col-2">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-evento>
      <tr>
        <td>
          <span [class]="'customer-badge status-' + evento.estado">{{ evento.estado }}</span>
        </td>
        <td>{{ evento.deporte.nombre }}</td>
        <td>{{ evento.division.nombre }}</td>
        <td>
          <img src="{{ evento.competidor1.foto }}" width="20px" style="margin-right: 5px" />{{ evento.competidor1.nombre }} vs
          {{ evento.competidor2.nombre }}<img src="{{ evento.competidor2.foto }}" style="margin-left: 5px" width="20px" />
        </td>
        <td>
          <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="delete(evento)"></button>
          <button
            data-cy="entityEditButton"
            type="submit"
            pButton
            pRipple
            icon="pi pi-pencil"
            class="btn-primary"
            [routerLink]="['/panel/evento', evento.id, 'edit']"
          ></button>
          <button
            data-cy="entityDetailsButton"
            type="submit"
            pButton
            pRipple
            icon="pi pi-eye"
            class="btn-secondary"
            [routerLink]="['/panel/evento', evento.id, 'view']"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
