<div>
  <h2 id="page-heading" data-cy="EventoHeading">
    <span jhiTranslate="appostadoApp.evento.home.title">Eventos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appostadoApp.evento.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-evento"
        [routerLink]="['/panel/evento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appostadoApp.evento.home.createLabel"> Create a new Evento </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="eventos?.length === 0">
    <span jhiTranslate="appostadoApp.evento.home.notFound">No eventos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="eventos && eventos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.evento.fecha">Fecha</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.evento.horaInicio">Hora Inicio</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.evento.horaFin">Hora Fin</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.evento.ganador">Ganador</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.evento.deporte">Deporte</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.evento.division">Division</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.evento.competidor1">Competidor 1</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.evento.competidor2">Competidor 2</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.evento.estado">Estado</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/panel/evento', evento.id, 'view']">{{ evento.id }}</a>
          </td>
          <td>{{ evento.fecha | formatMediumDate }}</td>
          <td>{{ evento.horaInicio | formatMediumDatetime }}</td>
          <td>{{ evento.horaFin | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="evento.ganador">
              <a [routerLink]="['/panel/competidor', evento.ganador?.id, 'view']">{{ evento.ganador?.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="evento.deporte">
              <a [routerLink]="['/panel/deporte', evento.deporte?.id, 'view']">{{ evento.deporte?.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="evento.division">
              <a [routerLink]="['/panel/division', evento.division?.id, 'view']">{{ evento.division?.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="evento.competidor1">
              <a [routerLink]="['/panel/competidor', evento.competidor1?.id, 'view']">{{ evento.competidor1?.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="evento.competidor2">
              <a [routerLink]="['/panel/competidor', evento.competidor2?.id, 'view']">{{ evento.competidor2?.nombre }}</a>
            </div>
          </td>
          <td>{{ evento.estado }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/panel/evento', evento.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
