<div class="" style="padding-bottom: 50px">
  <jhi-alert-error></jhi-alert-error>

  <p-table
    #dt
    [value]="usuarios!"
    styleClass="p-datatable-gridlines"
    responsiveLayout="scroll"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    [paginator]="true"
    [globalFilterFields]="['nombre', 'pais', 'user.email', 'user.login']"
  >
    <ng-template pTemplate="caption">
      <div class="text-center">
        <span>USUARIOS</span>
      </div>
      <div class="row">
        <div class="col-2">
          <span class="p-input-icon-right ml-auto">
            <i class="pi pi-search"></i>
            <input
              class="col"
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar"
            />
          </span>
        </div>
        <div style="margin-left: 20px" class="col-1">
          <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="nombre">Nombre de usuario<p-sortIcon field="nombre"></p-sortIcon></th>
        <th>País</th>
        <th>Correo</th>
        <th pSortableColumn="estado">Estado<p-sortIcon field="estado"></p-sortIcon></th>
        <th pSortableColumn="rol">Rol<p-sortIcon field="rol"></p-sortIcon></th>
        <th class="col-2">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
      <tr>
        <td>{{ usuario.id }}</td>
        <td class="text-center">
          <img src="{{ usuario.user.imageUrl }}" width="50px" />
          <p></p>
          {{ usuario.user.login }}
        </td>
        <td class="text-center">
          <img src="https://countryflagsapi.com/png/{{ usuario.pais }}" width="40px" />
          <p></p>
          {{ usuario.pais }}
        </td>
        <td>{{ usuario.user.email }}</td>
        <td class="{{ usuario.user.activated ? 'text-primary' : 'text-danger' }} fw-bold">
          {{ usuario.user.activated ? 'Activo' : 'Inactivo' }}
        </td>
        <td>
          <div>
            <span class="badge bg-info">{{ usuario.activated }}</span>
          </div>
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-sync"
            class="p-button-info"
            [disabled]="!currentAccount || currentAccount.login === usuario.user.login"
            (click)="cambiarEstado(usuario)"
          ></button>
          <button
            data-cy="entityDetailsButton"
            type="submit"
            pButton
            pRipple
            icon="pi pi-eye"
            class="p-button-success"
            [routerLink]="['/panel/adminusuarios', usuario.id, 'view']"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
