<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="transaccion">
      <h2 data-cy="transaccionDetailsHeading"><span jhiTranslate="appostadoApp.transaccion.detail.title">Transaccion</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ transaccion.id }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.transaccion.fecha">Fecha</span></dt>
        <dd>
          <span>{{ transaccion.fecha | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.transaccion.tipo">Tipo</span></dt>
        <dd>
          <span>{{ transaccion.tipo }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.transaccion.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ transaccion.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.transaccion.monto">Monto</span></dt>
        <dd>
          <span>{{ transaccion.monto }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.transaccion.cuenta">Cuenta</span></dt>
        <dd>
          <div *ngIf="transaccion.cuenta">
            <a [routerLink]="['/cuenta-usuario', transaccion.cuenta?.id, 'view']">{{ transaccion.cuenta?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/transaccion', transaccion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
