<div class="" style="padding-bottom: 50px">
  <jhi-alert-error></jhi-alert-error>

  <p-table
    #dt
    [value]="users!"
    styleClass="p-datatable-gridlines"
    responsiveLayout="scroll"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    [paginator]="true"
    [globalFilterFields]="['nombre', 'pais', 'email', 'login']"
  >
    <ng-template pTemplate="caption">
      <div class="text-center">
        <span>USUARIOS</span>
      </div>
      <div class="row">
        <div class="col-2">
          <span class="p-input-icon-right ml-auto">
            <i class="pi pi-search"></i>
            <input
              class="col"
              pInputText
              type="text"
              (input)="dt.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar"
            />
          </span>
        </div>
        <div style="margin-left: 20px" class="col-1">
          <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
        <th>Usuario</th>
        <th>País</th>
        <th>Correo</th>
        <th>Estado</th>
        <th>Rol</th>
        <th class="col-2">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
      <tr>
        <td>{{ usuario.id }}</td>
        <td class="text-center">
          <img src="{{ usuario.imageUrl }}" width="50px" />
          <p></p>
          {{ usuario.login }}
        </td>
        <td class="text-center">
          <img src="https://countryflagsapi.com/png/{{ usuario.pais }}" width="40px" />
          <p></p>
          {{ usuario.pais }}
        </td>
        <td>{{ usuario.email }}</td>
        <td class="{{ usuario.activated ? 'text-primary' : 'text-danger' }} fw-bold">{{ usuario.activated ? 'Activo' : 'Inactivo' }}</td>
        <td>
          <div *ngFor="let authority of usuario.authorities">
            <span class="badge bg-info">{{ authority }}</span>
          </div>
        </td>
        <td>
          <div class="text-center">
            <button
              [disabled]="!currentAccount || currentAccount.login === usuario.login"
              data-cy="entityDetailsButton"
              type="submit"
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-success"
              [routerLink]="['./', usuario.login, 'edit']"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
