<nav data-cy="navbar" class="navbar navbar-light navbar-expand-md bg-light">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span jhiTranslate="global.title" class="navbar-title">Appostado</span>
      <span class="navbar-version">{{ version }}</span>
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav ms-auto">
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);">
            <span>
              <i class="fa-solid fa-bell"></i>
              <span>Notificaciones</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <!--            repetir este li con lista de notificaciones-->
            <li *ngSwitchCase="true">
              <a class="dropdown-item">
                <i class="fa-solid fa-user-group"></i>
                <span>Aqui va el detalle de la notificacion!!!!!</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item">
                <i class="fa-solid fa-user-group"></i>
                <span>Aqui va el detalle de la notificacion!!!!!</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item">
                <i class="fa-solid fa-user-group"></i>
                <span>Aqui va el detalle de la notificacion!!!!!</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item">
                <i class="fa-solid fa-user-group"></i>
                <span>Aqui va el detalle de la notificacion!!!!!</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/panel/cuenta">
            <span>
              <i class="fa-solid fa-user"></i>
              <span>Cuenta</span>
            </span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="logout()">
          <a class="nav-link">
            <span>
              <i class="fa-solid fa-right-from-bracket"></i>
              <span>Salir</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
