<div id="auth" xmlns="http://www.w3.org/1999/html">
  <div class="row h-100">
    <div class="col-lg-7 d-none d-lg-block">
      <img class="h-100 w-100" src="content/images/banner.jpg" alt="" />
    </div>
    <div class="col-lg-5 col-12 bg-white">
      <div id="auth-right">
        <div class="auth-logo">
          <!--<a href=""><img src="" alt="Logo"> Appostado</a>-->
        </div>
        <h1 class="auth-title animate__fadeInDown">Iniciar sesión</h1>
        <p class="auth-subtitle mb-3">Por favor inicia sesión con tus credenciales</p>

        <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
          <label class="pb-2" for="username">Digite su usuario o correo: </label>
          <div class="form-group position-relative has-icon-left mb-4">
            <input
              type="text"
              class="form-control form-control-xl"
              name="username"
              id="username"
              placeholder="{{ 'global.form.username.placeholder' | translate }}"
              formControlName="username"
              #username
              data-cy="username"
            />

            <div class="form-control-icon">
              <i class="fa-solid fa-user text-white"></i>
            </div>
          </div>
          <label class="pb-2" for="password">Digite su contraseña: </label>
          <div class="form-group position-relative has-icon-left mb-4">
            <input
              type="password"
              class="form-control form-control-xl"
              name="password"
              id="password"
              placeholder="{{ 'login.form.password.placeholder' | translate }}"
              formControlName="password"
              data-cy="password"
            />
            <div class="form-control-icon">
              <i class="fa-solid fa-lock text-white"></i>
            </div>
          </div>

          <button class="btn mx-0 bg-azul-oscuro text-white btn-block btn-lg shadow-lg mt-5" type="submit">Log in</button>
        </form>
        <div
          class="alert alert-danger py-2 px-3"
          *ngIf="authenticationError"
          jhiTranslate="login.messages.error.authentication"
          data-cy="loginError"
        >
          <strong>Failed to sign in!</strong> Please check your credentials and try again.
        </div>
        <div class="text-center mt-5 text-lg fs-4">
          <p class="text-gray-600">
            No tienes una cuenta?
            <a routerLink="/account/register" jhiTranslate="global.messages.info.register.link" class="font-bold">Crea una cuenta</a>
          </p>
          <p>
            <a
              class="font-bold"
              routerLink="/account/reset/request"
              jhiTranslate="login.password.forgot"
              data-cy="forgetYourPasswordSelector"
              >¿Olvidaste la contraseña?</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
