<div>
  <h2 id="page-heading" data-cy="OpcionRolHeading">
    <span jhiTranslate="appostadoApp.opcionRol.home.title">Opcion Rols</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appostadoApp.opcionRol.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-opcion-rol"
        [routerLink]="['/opcion-rol/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appostadoApp.opcionRol.home.createLabel"> Create a new Opcion Rol </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="opcionRols?.length === 0">
    <span jhiTranslate="appostadoApp.opcionRol.home.notFound">No opcionRols found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="opcionRols && opcionRols.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.opcionRol.opcion">Opcion</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.opcionRol.path">Path</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.opcionRol.icono">Icono</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.opcionRol.nombre">Nombre</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let opcionRol of opcionRols; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/opcion-rol', opcionRol.id, 'view']">{{ opcionRol.id }}</a>
          </td>
          <td>{{ opcionRol.opcion }}</td>
          <td>{{ opcionRol.path }}</td>
          <td>{{ opcionRol.icono }}</td>
          <td>{{ opcionRol.nombre }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/opcion-rol', opcionRol.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/opcion-rol', opcionRol.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(opcionRol)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
