<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="misionTransaccion">
      <h2 data-cy="misionTransaccionDetailsHeading">
        <span jhiTranslate="appostadoApp.misionTransaccion.detail.title">Mision Transaccion</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ misionTransaccion.id }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.misionTransaccion.mision">Mision</span></dt>
        <dd>
          <div *ngIf="misionTransaccion.mision">
            <a [routerLink]="['/mision', misionTransaccion.mision?.id, 'view']">{{ misionTransaccion.mision?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appostadoApp.misionTransaccion.transaccion">Transaccion</span></dt>
        <dd>
          <div *ngIf="misionTransaccion.transaccion">
            <a [routerLink]="['/transaccion', misionTransaccion.transaccion?.id, 'view']">{{ misionTransaccion.transaccion?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/mision-transaccion', misionTransaccion.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
