<div>
  <h2 id="page-heading" data-cy="PremioHeading">
    <span jhiTranslate="appostadoApp.premio.home.title">Premios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="appostadoApp.premio.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-premio"
        [routerLink]="['/panel/premio/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="appostadoApp.premio.home.createLabel"> Create a new Premio </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="premios?.length === 0">
    <span jhiTranslate="appostadoApp.premio.home.notFound">No premios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="premios && premios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.premio.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.premio.descripcion">Descripcion</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.premio.foto">Foto</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.premio.costo">Costo</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.premio.estado">Estado</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.premio.stock">Stock</span></th>
          <th scope="col"><span jhiTranslate="appostadoApp.premio.numCanjes">Num Canjes</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let premio of premios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/panel/premio', premio.id, 'view']">{{ premio.id }}</a>
          </td>
          <td>{{ premio.nombre }}</td>
          <td>{{ premio.descripcion }}</td>
          <td>{{ premio.foto }}</td>
          <td>{{ premio.costo }}</td>
          <td>{{ premio.estado }}</td>
          <td>{{ premio.stock }}</td>
          <td>{{ premio.numCanjes }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/panel/premio', premio.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/premio', premio.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(premio)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
