<div class="" style="padding-bottom: 50px">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Crear premio"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        [routerLink]="['/panel/premio/new']"
      ></button>
      <div style="margin-left: 20px" class="col">
        <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        </button>
      </div>
    </ng-template>
  </p-toolbar>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <p-table
    #dt
    [value]="premios!"
    styleClass="p-datatable-gridlines"
    responsiveLayout="scroll"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    [paginator]="true"
    [globalFilterFields]="['nombre', 'estado']"
    s
  >
    <ng-template pTemplate="caption">
      <div class="text-center">
        <span>PREMIOS</span>
      </div>
      <div class="col">
        <span class="p-input-icon-right ml-auto">
          <i class="pi pi-search"></i>
          <input class="col" pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
        <th>Descripción</th>
        <th>Foto</th>
        <th>Costo</th>
        <th>Estado</th>
        <th>Stock</th>
        <th>Canjes</th>
        <th class="col-2">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-premio>
      <tr>
        <td>{{ premio.id }}</td>
        <td>{{ premio.nombre }}</td>
        <td>{{ premio.descripcion }}</td>
        <td><img src="{{ premio.foto }}" width="50" class="shadow-4" /></td>
        <td>{{ premio.costo }}</td>
        <td>{{ premio.estado }}</td>
        <td>{{ premio.stock }}</td>
        <td>{{ premio.numCanjes }}</td>
        <td>
          <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="delete(premio)"></button>
          <button
            data-cy="entityEditButton"
            type="submit"
            pButton
            pRipple
            icon="pi pi-pencil"
            class="btn-primary"
            [routerLink]="['/panel/premio', premio.id, 'edit']"
          ></button>
          <button
            data-cy="entityDetailsButton"
            type="submit"
            pButton
            pRipple
            icon="pi pi-eye"
            class="btn-secondary"
            [routerLink]="['/panel/premio', premio.id, 'view']"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="" style="padding-bottom: 50px">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <div style="margin-left: 20px" class="col">
        <button class="btn btn-info me-2" (click)="loadAllCanjesPendientes()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        </button>
      </div>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="canjes!"
    styleClass="p-datatable-gridlines"
    responsiveLayout="scroll"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    [paginator]="true"
    [globalFilterFields]="['nombre', 'estado']"
    s
  >
    <ng-template pTemplate="caption">
      <div class="text-center">
        <span>CANJES PENDIENTES</span>
      </div>
      <div class="col">
        <span class="p-input-icon-right ml-auto">
          <i class="pi pi-search"></i>
          <input class="col" pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th pSortableColumn="nombre">Estado<p-sortIcon field="nombre"></p-sortIcon></th>
        <th>Detalle</th>
        <th>Premio</th>
        <th>Transaccion</th>
        <th class="col-2">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-canje>
      <tr>
        <td>{{ canje.id }}</td>
        <td>{{ canje.estado }}</td>
        <td>{{ canje.detalle }}</td>
        <td>{{ canje.premio.nombre }} <img src="{{ canje.premio.foto }}" width="50px" /></td>
        <td>{{ canje.transaccion.id }}</td>

        <td>
          <button
            data-cy="entityEditButton"
            type="submit"
            pButton
            pRipple
            icon="pi pi-pencil"
            class="btn-primary"
            [routerLink]="['/panel/canje', canje.id, 'edit']"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
