<form *jhiHasAnyAuthority="'ROLE_USER'" role="form" [formGroup]="BonoForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-5 border-verde p-3 text-center">
      <h4>Ingresá un código para realizar un canje</h4>
      <input formControlName="codigo" class="w-100 rounded-3 fs-6 border-verde p-2" type="text" />
      <button type="submit" class="btn hvr-grow bg-verde-oscuro rounded-3 text-white mx-0 mt-3 w-100 fs-5" [disabled]="BonoForm.invalid">
        Canjear
      </button>
    </div>
  </div>
</form>
<div *jhiHasAnyAuthority="'ROLE_USER'" class="mt-5 mb-3">
  <h3>Mis apuestas activas</h3>
  <div class="alert alert-light" role="alert" *ngIf="currentUserEvents!.length === 0">
    ¡Actualmente no tienes ninguna apuesta activa, comienza ahora!
  </div>
  <div *ngIf="currentUserEvents!.length > 0">
    <div *ngFor="let currentUserEvent of currentUserEvents">
      <jhi-event-card [event]="currentUserEvent"></jhi-event-card>
    </div>
  </div>
</div>
