<div class="" style="padding-bottom: 50px">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Crear misión"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        [routerLink]="['/panel/adminmisiones/new']"
      ></button>
      <div style="margin-left: 20px" class="col">
        <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        </button>
      </div>
    </ng-template>
  </p-toolbar>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <p-table
    #dt
    [value]="misions!"
    styleClass="p-datatable-gridlines"
    responsiveLayout="scroll"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    [paginator]="true"
    [globalFilterFields]="['nombre', 'Tipo', 'Día']"
  >
    <ng-template pTemplate="caption">
      <div class="text-center">
        <span>MISIONES</span>
      </div>
      <div class="col">
        <span class="p-input-icon-right ml-auto">
          <i class="pi pi-search"></i>
          <input class="col" pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"></p-sortIcon></th>
        <th>Descripción</th>
        <th>Tipo</th>
        <th>Día</th>
        <th>Bonificación</th>
        <th class="col-2">Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mision>
      <tr>
        <td>{{ mision.id }}</td>
        <td>{{ mision.nombre }}</td>
        <td>{{ mision.descripcion }}</td>
        <td>{{ mision.tipo }}</td>
        <td>{{ mision.dia }}</td>
        <td>{{ mision.bonoCreditos }}</td>
        <td>
          <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="delete(mision)"></button>
          <button
            data-cy="entityEditButton"
            type="submit"
            pButton
            pRipple
            icon="pi pi-pencil"
            class="btn-primary"
            [routerLink]="['/panel/adminmisiones', mision.id, 'edit']"
          ></button>
          <button
            data-cy="entityDetailsButton"
            type="submit"
            pButton
            pRipple
            icon="pi pi-eye"
            class="btn-secondary"
            [routerLink]="['/panel/adminmisiones', mision.id, 'view']"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
