<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate [formGroup]="editForm">
      <h2 id="jhi-evento-heading" data-cy="EventoCreateUpdateHeading">Resolver evento deportivo</h2>

      <div *ngIf="evento">
        <h2 data-cy="eventoDetailsHeading">
          <span>Evento con el ID {{ evento.id }}</span>
        </h2>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Confirmar</span>
        </button>
      </div>
    </form>
  </div>
</div>
