<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-mision-transaccion-heading"
        data-cy="MisionTransaccionCreateUpdateHeading"
        jhiTranslate="appostadoApp.misionTransaccion.home.createOrEditLabel"
      >
        Create or edit a Mision Transaccion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appostadoApp.misionTransaccion.idMision" for="field_idMision">Id Mision</label>
          <input type="number" class="form-control" name="idMision" id="field_idMision" data-cy="idMision" formControlName="idMision" />
          <div *ngIf="editForm.get('idMision')!.invalid && (editForm.get('idMision')!.dirty || editForm.get('idMision')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idMision')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idMision')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appostadoApp.misionTransaccion.idTransaccion" for="field_idTransaccion"
            >Id Transaccion</label
          >
          <input
            type="number"
            class="form-control"
            name="idTransaccion"
            id="field_idTransaccion"
            data-cy="idTransaccion"
            formControlName="idTransaccion"
          />
          <div
            *ngIf="
              editForm.get('idTransaccion')!.invalid && (editForm.get('idTransaccion')!.dirty || editForm.get('idTransaccion')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('idTransaccion')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('idTransaccion')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appostadoApp.misionTransaccion.mision" for="field_mision">Mision</label>
          <select class="form-control" id="field_mision" data-cy="mision" name="mision" formControlName="mision">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="misionOption.id === editForm.get('mision')!.value?.id ? editForm.get('mision')!.value : misionOption"
              *ngFor="let misionOption of misionsSharedCollection; trackBy: trackMisionById"
            >
              {{ misionOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="appostadoApp.misionTransaccion.transaccion" for="field_transaccion">Transaccion</label>
          <select class="form-control" id="field_transaccion" data-cy="transaccion" name="transaccion" formControlName="transaccion">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                transaccionOption.id === editForm.get('transaccion')!.value?.id ? editForm.get('transaccion')!.value : transaccionOption
              "
              *ngFor="let transaccionOption of transaccionsSharedCollection; trackBy: trackTransaccionById"
            >
              {{ transaccionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
