<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="compra">
      <h2 data-cy="compraDetailsHeading"><span jhiTranslate="appostadoApp.compra.detail.title">Compra</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ compra.id }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.compra.idProducto">Id Producto</span></dt>
        <dd>
          <span>{{ compra.idProducto }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.compra.idTransaccion">Id Transaccion</span></dt>
        <dd>
          <span>{{ compra.idTransaccion }}</span>
        </dd>
        <dt><span jhiTranslate="appostadoApp.compra.transaccion">Transaccion</span></dt>
        <dd>
          <div *ngIf="compra.transaccion">
            <a [routerLink]="['/transaccion', compra.transaccion?.id, 'view']">{{ compra.transaccion?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="appostadoApp.compra.producto">Producto</span></dt>
        <dd>
          <div *ngIf="compra.producto">
            <a [routerLink]="['/producto', compra.producto?.id, 'view']">{{ compra.producto?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/compra', compra.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
