<div id="auth">
  <div class="row h-100">
    <div class="col-lg-3 d-none d-lg-block">
      <div id="auth-left"></div>
    </div>
    <div class="col-lg-6 col-12">
      <div id="auth-right">
        <div class="auth-logo">
          <!--<a href="index.html"><img src="assets/images/logo.png" alt="Logo"> Appostado</a>-->
        </div>
        <h1 class="auth-title" jhiTranslate="reset.request.title">Restablecer su contraseña</h1>
        <p class="auth-subtitle mb-5" jhiTranslate="reset.request.messages.info">
          Introduzca la dirección de correo electrónico que utilizó para registrarse
        </p>
        <div class="alert alert-success py-3 text-center" *ngIf="success">
          <span jhiTranslate="reset.request.messages.success" class="fs-6"
            >Check your emails for details on how to reset your password.</span
          >
        </div>
        <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <label class="form-label" for="email" jhiTranslate="global.form.email.label">Correo electrónico</label>
          <div class="form-group position-relative has-icon-left mb-4">
            <input
              type="email"
              class="form-control form-control-xl"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="emailResetPassword"
              #email
            />
            <div class="form-control-icon">
              <i class="fa-regular fa-envelope text-white"></i>
            </div>
          </div>
          <button
            class="btn bg-azul-oscuro text-white mx-0 text-white btn-block btn-lg shadow-lg mt-5"
            [disabled]="resetRequestForm.invalid"
            jhiTranslate="reset.request.form.button"
            data-cy="submit"
          >
            restablecer contraseña
          </button>
        </form>
        <div
          *ngIf="resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="resetRequestForm.get('email')?.errors?.required"
            jhiTranslate="global.messages.validate.email.required"
          >
            Your email is required.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="resetRequestForm.get('email')?.errors?.email"
            jhiTranslate="global.messages.validate.email.invalid"
          >
            Your email is invalid.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="resetRequestForm.get('email')?.errors?.minlength"
            jhiTranslate="global.messages.validate.email.minlength"
          >
            Your email is required to be at least 5 characters.
          </small>

          <small
            class="form-text text-danger"
            *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
            jhiTranslate="global.messages.validate.email.maxlength"
          >
            Your email cannot be longer than 100 characters.
          </small>
        </div>
        <div class="text-center mt-5 text-lg fs-5">
          <p class="text-gray-600">Remember your account? <a routerLink="/login" class="font-bold">Log in</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 d-none d-lg-block">
      <div id="auth-right2"></div>
    </div>
  </div>
</div>
